@model Dormitory.Domain.Entities.Faculty

@{
    ViewData["Title"] = "Деталі";
}

<h1>Деталі факультету</h1>
<hr />

<dl class="row">
    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Facultyname)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.Facultyname)</dd>
</dl>

<div class="d-flex gap-2 mt-3">
    <a asp-action="Edit" asp-route-id="@Model?.Facultyid" class="btn btn-outline-primary rounded-pill">Редагувати</a>
    <a asp-action="Index" class="btn btn-outline-primary rounded-pill">Назад до списку</a>
</div>