@model Dormitory.Domain.Entities.Room

@{
    ViewData["Title"] = "Редагування кімнати";
}

<h1>Редагування кімнати</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Roomid" />
            <div class="form-group">
                <label asp-for="Roomnumber" class="control-label"></label>
                <input asp-for="Roomnumber" class="form-control" />
                <span asp-validation-for="Roomnumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Floor" class="control-label"></label>
                <input asp-for="Floor" class="form-control" />
                <span asp-validation-for="Floor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="d-flex gap-2 mt-3">
                <input type="submit" value="Зберегти" class="btn btn-outline-primary rounded-pill" />
                <a asp-action="Index" class="btn btn-outline-primary rounded-pill">Назад до списку</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}