@model Dormitory.Domain.Entities.Administrator

@{
    ViewData["Title"] = "Видалення";
}

<h1>Видалення адміністратора</h1>
<hr />
<h5 class="text-danger">Ви впевнені, що хочете видалити цього адміністратора?</h5>

<dl class="row mt-3">
    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Username)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.Username)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Fullname)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.Fullname)</dd>
</dl>

<form asp-action="Delete">
    <input type="hidden" asp-for="Adminid" />
    <div class="d-flex gap-2 mt-3">
        <input type="submit" value="Видалити" class="btn btn-outline-danger rounded-pill" />
        <a asp-action="Index" class="btn btn-outline-primary rounded-pill">Назад до списку</a>
    </div>
</form>
