@model IEnumerable<Dormitory.Domain.Entities.Administrator>

@{
    ViewData["Title"] = "Адміністратори";
}

<h1>Список адміністраторів</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary mb-3 rounded-pill">Додати адміністратора</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Логін</th>
            <th>ПІБ</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Username</td>
                <td>@item.Fullname</td>
                <td>
                    <div class="d-flex gap-1">
                        <a asp-action="Edit" asp-route-id="@item.Adminid" class="btn btn-sm btn-outline-primary rounded-pill">Редагувати</a>
                        <a asp-action="Details" asp-route-id="@item.Adminid" class="btn btn-sm btn-outline-primary rounded-pill">Деталі</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
